### Imports and constants

This is the section for things that might get reused multiple times. Constants for the file paths, imports for the libraries we are going to use and variables to store the files we are going to use

In [2]:
# Imports

import json
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np

In [12]:
# Constants

ROOT_DIR = os.getcwd() + "/data"
PATH_TO_TRAIN_DATA = os.path.join(ROOT_DIR, "train.csv")
PATH_TO_TEST_DATA = os.path.join(ROOT_DIR, "test.csv")
PATH_TO_GENDER_SUBMISSION_DATA = os.path.join(ROOT_DIR, "gender_submission.csv")

In [33]:
# Tuening files into panda's dataframes

train_data = pd.read_csv(PATH_TO_TRAIN_DATA)
test_data = pd.read_csv(PATH_TO_TEST_DATA)
gender_submission_data = pd.read_csv(PATH_TO_GENDER_SUBMISSION_DATA)

### Exploratory analysis

The following section will be all about analysis so we can better understand the implications of the data that was provided for this challenge.
It is particularly interesting to explore how things like social class and gender may affect the survival rate.

In [29]:
# Given that test data is the one we need to submit, might be interesting to split train_data into two 80/20.

train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [41]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [43]:
train_data["Cabin"].value_counts(dropna=False)

NaN            687
C23 C25 C27      4
B96 B98          4
G6               4
D                3
              ...
E10              1
A16              1
C95              1
C30              1
B3               1
Name: Cabin, Length: 148, dtype: int64

#### Based on the previous line, by the amount of NaN fields we can conclude removing "Cabin" will be the way to go

In [51]:
train_data.groupby("Sex").agg('sum')[['Survived', 'Died']].plot(kind='bar', stacked=True)

KeyError: "['Died'] not in index"